{{ define "content" }}
    <main>
        <h1>
            Component Test
        </h1>
        <div class="space-y-10">
            {{ template "example" }}
            {{ template "status" }}
            {{ template "subcomponent/test" }}
        </div>
    </main>
{{ end }}