{{ define "menu" }}
    <nav class="space-x-5 text-blue-500 underline py-2">
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/about">PreProcessor</a>
        <a href="/users/john">Path Variable</a>
        <a href="/users/john/details/123">Multiple Path Variables</a>
        <a href="/test/redirect-test">Redirect Test</a>
        <a href="/test/components">Component Test</a>
    </nav>
{{ end }}