<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<header>
    <h1>Not found</h1>
</header>
<main>
    <p>
        Not found
    </p>
</main>
<footer>
    <p>
        Created with <a href="https://golang.org/">Go</a> and <a href="/">Zebra</a>
    </p>
</footer>
</body>
</html>